@media (prefers-color-scheme: dark) {
    body {
        background-color: #0b1622;
        color: aab6c2;
    }

    blockquote {
      background: #151f2e;
    }

    a {
      color: #b368e6;
    }

    header {
      background: #151f2e;
      border-bottom: 2px solid #b368e6;

    }

    .article-meta, .menu a {
      background: #151f2e;
      color: #aab6c2;
    }

    table {
      margin: auto;
      border-top: 1px solid #666;
      border-bottom: 1px solid #666;
    }
    table thead th { border-bottom: 1px solid #666; }
    th, td { padding: 5px; }
    tr:nth-child(even) { background: #666 }

}

pre {
    border: 2px solid #b368e6;
    border-radius: 10px;
    padding: 1em;
    overflow-x: auto;
  }
pre code { background: none; }

header a {
    color: #aab6c2;
    line-height: 1.75rem;
    padding: 0 0.5rem
}
header a:hover,
header .current a {
    color: #aab6c2
}

p, li, h1, h2, h3, hr {
    color: #aab6c2;
}

blockquote {

    border-left: 5px solid #b368e6;
    border-radius: 0px 10px 10px 0px;
    padding: 3px 1em 3px;
}

.article-meta, .menu a {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 20px;
}

footer { 
    color: #aab6c2;
    font-size: 90%; 
}


.videoContainer {
  position: relative;
  display: flex;
  width: max-content;
  height: max-content;
  justify-content: center;
  align-items: center;
}
.videoContainer #video {
  width: 600px;
  height: 400px;
  border-radius: 20px;
}
.videoContainer .controls {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  opacity: 0.2;
  transition: opacity 0.4s;
}
.videoContainer:hover .controls {
  opacity: 1;
}
.videoContainer .controls button {
  background: transparent;
  color: #fff;
  font-weight: bolder;
  text-shadow: 2px 1px 2px #000;
  border: none;
  cursor: pointer;
}
.videoContainer .controls .timeline {
  flex: 1;
  display: flex;
  align-items: center;
  border: none;
  border-right: 3px solid #ccc;
  border-left: 3px solid #ccc;
}
.videoContainer .controls .timeline .bar{
  background: rgb(1, 1, 65);
  height: 4px;
  flex: 1;
}
.videoContainer .controls .timeline .bar .inner{
  background: #ccc;
  width: 0%;
  height: 100%;
}
.fa {
  font-size: 20px !important;
}
