
html {
    align-items: center;
    /* display: flex; */
    height: 100%;
    justify-content: center;
    margin: 0;
    background-color: #212121;
    font: 22px "Courier New", Courier, monospace;
}

h1 {
    font-size: 2em;
    display: block;
    margin: 5;
    padding: 0px;
    text-align: center;
    color: #fff;
    /* font: 44px "Courier New", Courier, monospace; */
    font-weight: bold;
}

/* #locationPlz {
    font-size: 2em;
    display: block;
    margin: 5;
    padding: 50px;
    text-align: center;
    color: #fff;
    font: 44px "Courier New", Courier, monospace;
    font-weight: bold;
} */

body {
    display: flex;
    margin: 1em;
    padding: 1em;
    background-color: #212121;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus, a:hover {
    /*color: #1d81b2;*/
    color: #fff;
}

input {
    height: inherit;
    background: #2e2e2e;
    color: #9e9e9e;
    /* font: 22px "Courier New", Courier, monospace; */
    font-weight: bold;
    line-height: 2em;
    box-shadow: none;
    border: none;
    text-align: center;
    border-radius: 6px;
    outline: none;
    padding: 16px 14px;
    font-size: 18;
    grid-column: 1 / -1;
    margin: 0;
    transition: all .2s ease-in-out; 
}

input:focus {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: scale(1.01); 
}

.col-sm {
    padding: 1rem;
    /* background-color: #33b5e5; */
    height: 150px;
    text-align: center;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    transition: all .2s ease-in-out; 
    font-size: 0%;
    color: #fff;
}

.col-sm:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-size: 100%;
    transform: scale(1.02); 
}

#linkText {
    text-shadow: 0 2px 3px #000000;
    font-weight: bold;
}

#dateDisplay {
    font-size: 1.2em;
    display: block;
    margin: 5;
    padding: 0px;
    text-align: center;
    color: #aaa;
    /* font: 44px "Courier New", Courier, monospace; */
    /* font-weight: bold; */
}

#link1 {
    background-image: url('../images/links/link1.webp');
}

#link2 {
    background-image: url('../images/links/link2.webp');
}

#link3 {
    background-image: url('../images/links/link3.webp');
}

#link4 {
    background-image: url('../images/links/link4.webp');
}

#link5 {
    background-image: url('../images/links/link5.webp');
}

#link6 {
    background-image: url('../images/links/link6.webp');
}

#link7 {
    background-image: url('../images/links/link7.webp');
}

#link8 {
    background-image: url('../images/links/link8.webp');
}

#link9 {
    background-image: url('../images/links/link9.webp');
}

#link10 {
    background-image: url('../images/links/link10.webp');
}